@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.nav-left {
    display: flex;
    align-items: center;
}

.menu-box {
    margin-right: 20px;
}

.logo img {
    height: 40px;
    width: auto;
}

.brand-name {
    flex-grow: 1;
    text-align: center;
}

.brand-name img {
    height: 50px; /* Adjust the height as needed */
    width: auto;
    display: block;
    margin: 0 auto;
}

.shopping {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px; /* Adjust this value based on the height of your navbar */
}

.hero {
    margin-top: 0px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

#drop-area {
    width: 500px;
    height: 400px;
    padding: 30px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
}

#img-view {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #ffb5d8;
    background: #b13d8e;
    background-position: center;
    background-size: cover;
}  

#img-view img {
    width: 100px;
    margin-top: 25px;
}

#img-view span {
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 15px;
}

.centralized {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

.button-container1 {
    margin-top: 20px;
}

.btnn {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnn:hover {
    background-color: darkorange;
}
