
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.Conclusion center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.congo{
  position: relative;
 
  align-items: center;
  
}
.textinlast h2{
  align-items: center;
}
.centereddd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
}
.Conclusion {
  
  object-fit: scale-down;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.nav-left {
    display: flex;
    align-items: center;
}

.menu-box {
    margin-right: 20px;
}

.menu-icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.logo img {
    height: 40px;
    width: auto;
}

.brand-name {
    flex-grow: 1;
    text-align: center;
}

.brand-name img {
    height: 50px; /* Adjust the height as needed */
    width: auto;
    display: block;
    margin: 0 auto;
}

.nav-right {
    width: 30px; /* Adjust to balance the navbar */
}

.content {
    padding-top: 80px; /* Adjust this value based on the height of your navbar */
}

.shopping {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .centralized {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
}



.button-container1 {
    margin-top: 0px;
}

.btnn {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-87 {
  display: block;
  margin: auto;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 600;
  font-size: medium;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}


.btnn:hover {
    background-color: darkorange;
}
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  * {
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

  }
  .showcase{
     position: absolute;
     right:0;
     width: 100%;
     min-height: 100vh;
     padding: 100px;
     display: flex;
     align-items: center;
     z-index: 2;
  }
  .centeral {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .textof{
    position: relative;
    z-index: 10;
    font-family: 'Poppins',serif;
    background: rgb(229,69,0);
    background-image: linear-gradient(90deg, rgba(229,69,0,1) 0%, rgba(255,127,52,1) 51%, rgba(255,0,226,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    
  }
  .butnnno{
    /*width: 250px;
    font-size: large;
    float: left;
    border: 1px solid rgb(203, 46, 209);*/
    font-size: large;
    background: hsl(309, 88%, 40%);
    border-radius: 999px;
    box-shadow: #ca0fab 0 10px 20px -10px;
    box-sizing: border-box;
    color: #0c0000;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }
  /*<!-- HTML !-->
<button class="button-34" role="button">Button 34</button>

/* CSS 
.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}*/
  
  .showcase video{
    position: absolute;
    object-fit: cover;
    opacity: 0.999;

  }
  .btn-continue {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-continue:hover {
    background-color: darkorange;
}
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
}

.centered-image {
    max-width: 60%;
    max-height: 60%;
}
  .textof h1{
    font-size: 5em;
    line-height: 1em;
  }

  .textof a{
    display: inline-block;
    font-size: 1em;
    background-color: #e613f1;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    transition: 0.2s;



  }
  .textof a:hover{
    letter-spacing: 6px;
  }
  

.btn-custom, .btn2 {
    width: 300px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
    background-size: 600%;
    animation: anime 16s linear infinite;
}

.btn2 {
    position: absolute;
    margin-top: -70px;
    z-index: -1;
    filter: blur(30px);
    opacity: 0.8;
}

@keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.containerz{
  max-width:124rem;
  padding:0 1rem;
  margin: 0 auto;

}
.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}
#tranding {
  padding: 4rem 0;
}

@media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
}
#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}
@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}
.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}
@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}




.text-center {
  text-align: center;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;

}
body {
    background-color: #f5f5f5;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.card {
    margin: 3px;
    
}

.card img {
    max-height: 200px;
    object-fit: cover;
    
}
.knowmore{
  padding-left: 20px;
  text-align: center;
  color: rgb(255, 106, 0);
}
.Recolor{
  padding-left: 100px;
  text-align: left;
  color: #e613f1;
}


.popup-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

#popupOverlay.show {
    visibility: visible;
    opacity: 1;
}

.modelbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    border-radius: 24px;
    position: absoslute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    border-radius: 24px;

    background-color: #fff;
    opacity: 0;
    pointer-events: none;
}
.modelbox i{
    font-size: 70px;
    color: #e613f1;
}
section.active.btn{
    display: none;
}
section.acctive .overlay{
    opacity: 1;
    pointer-events: auto;
}
.modelbox h2{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #333;
}
section.active .modelbox{
    opacity: 0;
    pointer-events: auto;
}
.modelbox h3{
    
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-align: center;
}
.modelbox button{
    font-size: 14px;
    padding: 6px 12px;
    margin: 0 10px;
}
.modelbox buttons{
    margin-top: 25px;
}